[Unit]
Description=Mopidy music server
After=avahi-daemon.service
After=dbus.service
After=network.target
After=nss-lookup.target
After=pulseaudio.service
After=remote-fs.target
After=sound.target

[Service]
Type=simple
ExecStart=/home/jojo/.local/bin/mopidy \
    --config /home/jojo/.config/mopidy/mopdiy.conf:/home/jojo/.config/mopidy/secret.conf

[Install]
WantedBy=multi-user.target
